# Emacs
*~
\#*\#
.\#*

# Generated config
init.el
early-init.el
sns-emacs-modules/
sns-lisp/

# ELPA
elpa/
/README.html

# Runtime and session files
.lsp-session-v1
bookmarks
projects
tramp

# Cache directories
eln-cache/
tree-sitter/
auto-save/

# Emacs directories
eshell/
games/
transient/
url/
